
<!-- Footer -->
<footer data-v-61ecdc29="" data-v-273af766="" class="footer">
    <div data-v-61ecdc29="" class="footer__content">
        <div data-v-61ecdc29="" class="footer__content--left">
            <div data-v-61ecdc29="" class="footer__blibli--logo"><img data-v-61ecdc29=""
                                                                      src="https://www.static-src.com/frontend/digital-product/static/img/logo-blibli-grey.a18c8f0.png"
                                                                      alt="Blibli Pulsa"></div>
            <div data-v-61ecdc29="" class="footer__seo"><strong data-v-61ecdc29="">Blibli Pulsa</strong> adalah
                platform pembelian pulsa isi ulang, paket data, token listrik, voucher game, tagihan air, dll.<br
                        data-v-61ecdc29="">
                Dengan berbagai pilihan metode pembayaran seperti : Transfer Bank, Kartu Kredit, Internet Banking,
                dll.
            </div>
            <div data-v-61ecdc29="" class="footer__separator"></div>
            <div data-v-61ecdc29="" class="footer__products">
                <table data-v-61ecdc29="">
                    <tr data-v-61ecdc29="">
                        <td data-v-61ecdc29=""><strong data-v-61ecdc29="">Pulsa Online</strong></td>
                        <td data-v-61ecdc29="">Pulsa XL, Mentari Ooredo, Axis, IM3 Ooredoo, Bolt, Smartfren, Kartu
                            AS, Simpati, Tri
                        </td>
                    </tr>
                    <tr data-v-61ecdc29="">
                        <td data-v-61ecdc29=""><strong data-v-61ecdc29="">Paket Data</strong></td>
                        <td data-v-61ecdc29="">Paket Data XL, Paket Data Mentari Ooredo, Paket Data Axis, Paket Data
                            IM3 Ooredoo, Paket Data Bolt, Paket Data Smartfren
                            Paket Data Kartu AS, Paket Data Simpati, Paket Data Tri
                        </td>
                    </tr>
                    <tr data-v-61ecdc29="">
                        <td data-v-61ecdc29=""><strong data-v-61ecdc29="">Token Listrik</strong></td>
                        <td data-v-61ecdc29="">Token PLN</td>
                    </tr>
                    <tr data-v-61ecdc29="">
                        <td data-v-61ecdc29=""><strong data-v-61ecdc29="">Voucher Game</strong></td>
                        <td data-v-61ecdc29="">Garena, Steam Wallet, Google Play, Megaxus, Playstation Plus, RF
                            Online, Unipin, Ragnarok
                        </td>
                    </tr>
                    <tr data-v-61ecdc29="">
                        <td data-v-61ecdc29=""><strong data-v-61ecdc29="">Tagihan Air</strong></td>
                        <td data-v-61ecdc29="">PALYJA, Aetra, PDAM</td>
                    </tr>
                    <tr data-v-61ecdc29="">
                        <td data-v-61ecdc29=""><strong data-v-61ecdc29="">BPJS</strong></td>
                        <td data-v-61ecdc29="">BPJS Kesehatan</td>
                    </tr>
                    <tr data-v-61ecdc29="">
                        <td data-v-61ecdc29=""><strong data-v-61ecdc29="">Angsuran Kredit</strong></td>
                        <td data-v-61ecdc29="">Cicilan Kredit Mobil, Cicilan Kredit Motor, Aeon Credit, Bima Multi
                            Finance, Bussan Auto Finance, Kredit Plus, Mandiri Tunas Finance, Mega Auto Finance, NSC
                            Finance
                        </td>
                    </tr>
                    <tr data-v-61ecdc29="">
                        <td data-v-61ecdc29=""><strong data-v-61ecdc29="">Pascabayar</strong></td>
                        <td data-v-61ecdc29="">Telkomsel HALO</td>
                    </tr>
                    <tr data-v-61ecdc29="">
                        <td data-v-61ecdc29=""><strong data-v-61ecdc29="">TV Kabel</strong></td>
                        <td data-v-61ecdc29="">Big TV, CBN, Megavision, MNC Play</td>
                    </tr>
                    <tr data-v-61ecdc29="">
                        <td data-v-61ecdc29=""><strong data-v-61ecdc29="">Telepon</strong></td>
                        <td data-v-61ecdc29="">Telkom Indonesia</td>
                    </tr>
                </table>
            </div>
            <div data-v-61ecdc29="" class="footer__separator"></div>
            <div data-v-61ecdc29="" class="footer__payment"><strong data-v-61ecdc29=""
                                                                    class="footer__payment--title">METODE
                PEMBAYARAN</strong>
                <div data-v-61ecdc29="" class="footer__payment__group"><span data-v-61ecdc29=""
                                                                             class="footer__logo"><span
                        data-v-61ecdc29="" class="inst-ANZ"></span></span> <span data-v-61ecdc29=""
                                                                                 class="footer__logo"><span
                        data-v-61ecdc29="" class="inst-BCA"></span></span> <span data-v-61ecdc29=""
                                                                                 class="footer__logo"><span
                        data-v-61ecdc29="" class="inst-BII"></span></span> <span data-v-61ecdc29=""
                                                                                 class="footer__logo"><span
                        data-v-61ecdc29="" class="inst-BNI"></span></span> <span data-v-61ecdc29=""
                                                                                 class="footer__logo"><span
                        data-v-61ecdc29="" class="inst-BRI"></span></span></div>
            </div>
            <div data-v-61ecdc29="" class="footer__separator removeOnDesktop"></div>
        </div>
        <div data-v-61ecdc29="" class="footer__content--right">
            <div data-v-61ecdc29="" class="footer__cs"><strong data-v-61ecdc29="" class="footer__payment--title">CUSTOMER
                CARE</strong> <label data-v-61ecdc29="" class="footer__payment--title">Buka 24 Jam setiap
                hari</label>
                <div data-v-61ecdc29="" class="footer__cs--phone"><i data-v-61ecdc29="" class="bli-cc-call"></i>
                    <span data-v-61ecdc29="">021-25556060 (hotlinee selama PSBB), 0804 1 871 871</span></div>
                <div data-v-61ecdc29="" class="footer__cs--email"><i data-v-61ecdc29="" class="bli-cc-email"></i>
                    <span data-v-61ecdc29="">customer.care@blibli.com</span></div>
            </div>
            <div data-v-61ecdc29="" class="footer__share"><strong data-v-61ecdc29="" class="footer__payment--title">IKUTI
                KAMI</strong> <a data-v-61ecdc29="" id="gdn-facebook" rel="nofollow"
                                 href="https://www.facebook.com/bliblidotcom" class="icon-social fb"><span
                    data-v-61ecdc29="" class="bli-facebook"></span></a> <a data-v-61ecdc29="" id="gdn-twitter"
                                                                           rel="nofollow"
                                                                           href="https://twitter.com/bliblidotcom"
                                                                           class="icon-social twitter"><span
                    data-v-61ecdc29="" class="bli-twitter"></span></a> <a data-v-61ecdc29="" id="gdn-google-plus"
                                                                          rel="nofollow"
                                                                          href="https://plus.google.com/+BliblidotcomOfficial"
                                                                          class="icon-social gplus"><span
                    data-v-61ecdc29="" class="bli-google-plus"></span></a> <a data-v-61ecdc29="" id="gdn-youtube"
                                                                              rel="nofollow"
                                                                              href="http://www.youtube.com/user/bliblidotcom"
                                                                              class="icon-social youtube"><span
                    data-v-61ecdc29="" class="bli-youtube"></span></a> <a data-v-61ecdc29="" id="gdn-instagram"
                                                                          rel="nofollow"
                                                                          href="https://www.instagram.com/bliblidotcom"
                                                                          class="icon-social instagram"><span
                    data-v-61ecdc29="" class="bli-instagram"></span></a></div>
            <div data-v-61ecdc29="" class="footer__secure"><strong data-v-61ecdc29=""
                                                                   class="footer__payment--title"><i
                    data-v-61ecdc29="" class="bli-locked-padlock"></i> BELANJA AMAN</strong> <span
                    data-v-61ecdc29="" class="footer__logo"><span data-v-61ecdc29=""
                                                                  class="icon_verified-visa"></span></span> <span
                    data-v-61ecdc29="" class="footer__logo"><span data-v-61ecdc29=""
                                                                  class="icon_mastercard-securecard"></span></span>
                <span data-v-61ecdc29="" class="footer__logo"><span data-v-61ecdc29=""
                                                                    class="icon_norton"></span></span> <span
                        data-v-61ecdc29="" class="footer__logo"><span data-v-61ecdc29=""
                                                                      class="icon_idea"></span></span></div>
        </div>
    </div>
    <section data-v-61ecdc29="" class="footer__copyright"><span data-v-61ecdc29="">Copyright © 2011-2020 Blibli.com, All Rights Reserved.</span>
    </section>
</footer>
</div>
<section data-v-273af766=""><!----></section> <!----></div>
</body>
</html>
